<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".patt" mimeType="application/octet-stream" />
      </staticContent>
      <handlers><add name="iisnode" path="server.js" verb="*" modules="iisnode" /></handlers>
    </system.webServer>
  </configuration>
